<html lang="de">
<head>
    <title> ExamByte | Studiabgaben </title>
    <link rel="icon" type="image/png"
          href="../../static/Images/Logo/ExamByteLogoOhneUnterschrift.png"
          th:href="@{/Images/Logo/ExamByteLogoOhneUnterschrift.png}">
    <link rel="stylesheet" href="../../static/css/korrektor_page.css"
          th:href="@{/css/korrektor_page.css}">
    <meta charset="UFT-16">
</head>
<body>
    <div class="container">
        <header class="main-header">
            <div class="header-left">
                <a class="navLink" th:href="@{/}">Login</a>
                <a class="navLink" th:href="@{/korrektoren/landingPage}">Zur Landing Page</a>
                <h1> ExamByte - Studiabgaben </h1>
            </div>
            <img class="imgLogo"
                 th:src="@{/Images/Logo/ExamByteLogo.png}"
                 src="../../static/Images/Logo/ExamByteLogo.png"
                 alt="">
        </header>

        <main>
            <section class="section-title">
                <h2 class="section-title">
                    Anstehende Korrekturen - Abgaben
                </h2>
                <ul class="test-list">
                    <li class="test-item" th:each="abgabeId : ${abgaben}">
                        <a class="korrektorenLink" th:href="@{/korrektoren/landingPage/zeigeAbgabe/{abgabeId}(abgabeId=${abgabeId})}">
                                Test von Student mit AbgabeID:
                            <span class="test-name" th:text="${abgabeId}"> 1256</span></a> <br>
                    </li>
                </ul>
            </section>
        </main>
        <nav>
            <br>
            <form class="back" th:action="@{/korrektoren/landingPage/zeigeAufgaben/{testname}(testname=${testname.replace(' ', '_')})}">
                <button type="submit" class="btnPrüfen"> Zurück zur Aufgabenansicht </button>
            </form>
        </nav>
    </div>
</body>
</html>