<html lang="de">
    <head>
        <title> ExamByte | Korrektur </title>
        <link rel="icon" type="image/png"
              href="../../static/Images/Logo/ExamByteLogoOhneUnterschrift.png"
              th:href="@{/Images/Logo/ExamByteLogoOhneUnterschrift.png}">
        <link rel="stylesheet" href="../../static/css/ExambyteStylesheet.css"
              th:href="@{/css/ExambyteStylesheet.css}">
        <link rel = "stylesheet" th:href="@{/css/bootstrap.min.css}"
              href="../../static/css/bootstrap.min.css">
    </head>
    <body>
        <h1>
            <img class="imgLogo"
                 th:src="@{/Images/Logo/ExamByteLogo.png}"
                 src="../../static/Images/Logo/ExamByteLogo.png"
                 alt="">
            ExamByte - Korrektur
        </h1>

        <span th:if="${abgabeVorhanden}">
            <p> Aufgabe: <span th:text="${abgabe.getAufgabenstellung()}"> Was ist 2 + 2? </span></p>
            <p> Antwort: <span th:text="${abgabe.getStudiantwort()}"> 4 </span></p>
            <p> Maximale Punktzahl: <span th:text="${abgabe.getMaxPunktzahl()}"> 2 </span> Punkte</p>
            <form method="post" th:action="@{/korrektoren/landingPage/zeigeAbgabe/{abgabeId}(abgabeId=${abgabeId})}" class="form-check">
                <label for="feedbackId"> Feedback:</label>
                <textarea class="form-control" id="feedbackId" name="feedbackText"></textarea> <br>
                <label for="punkteId"> Punktzahl:</label>
                <input class="form-control" type="number" id="punkteId" name="punkteVergabe" min="0" th:max="${abgabe.getMaxPunktzahl()}" th:value="${punkteVergabe}">
                <button class="btnBestaetigen" type="submit"> Abschicken </button>
            </form>
        </span>

        <span th:if="${falscheEingabe}">
            <p class="text-danger" th:text="${falscheEingabe}"> Der Text darf nicht leer sein </p>
        </span>
    </body>
</html>