<html lang="de">
    <head>
        <title> ExamByte | Übersicht </title>
        <link rel="icon" type="image/png"
              href="../../static/Images/Logo/ExamByteLogoOhneUnterschrift.png"
              th:href="@{/Images/Logo/ExamByteLogoOhneUnterschrift.png}">
        <link rel="stylesheet" href="../../static/css/ExambyteStylesheet.css"
              th:href="@{/css/ExambyteStylesheet.css}">
        <link rel = "stylesheet" th:href="@{/css/bootstrap.min.css}"
              href="../../static/css/bootstrap.min.css">
    </head>
<body>
    <h1>
        <img class="imgLogo"
             th:src="@{/Images/Logo/ExamByteLogo.png}"
             src="../../static/Images/Logo/ExamByteLogo.png"
             alt="">
        ExamByte - Übersicht
    </h1>

    <h2> Testtitel der zu korrigierenden Tests: </h2>
    <ul>
        <li class="list-group-item" th:each="testname : ${testnamen}">
            <form class="form-group">
                <a th:href="@{/korrektoren/landingPage/zeigeAufgaben/{testname}(testname=${testname.replace(' ', '_')})}">
                    <span th:text="${testname}"> Test 1</span></a> <br>
            </form>
        </li>
    </ul>

</body>
</html>