<html lang="de">
    <head>
        <title> ExamByte | Ergebnis </title>
        <link rel="icon" type="image/png" th:href="@{/Images/Logo/ExamByteLogoOhneUnterschrift.png}"
              href="../../static/Images/Logo/ExamByteLogoOhneUnterschrift.png">
        <link rel="icon" type="image/png"
              href="../../static/Images/Logo/ExamByteLogoOhneUnterschrift.png"
              th:href="@{/Images/Logo/ExamByteLogoOhneUnterschrift.png}">
        <link rel="stylesheet" href="../../static/css/ExambyteStylesheet.css"
              th:href="@{/css/ExambyteStylesheet.css}">
        <link rel = "stylesheet" th:href="@{/css/bootstrap.min.css}"
              href="../../static/css/bootstrap.min.css">
        <meta charset="UTF-8">
    </head>

    <body>
    <h1>
        <a class="navLink" th:href="@{/}">Zur Anmeldung</a>
        <a class="navLink-2" th:href="@{/studenten/landingPage}">Zur Landing Page</a>
        <img class="imgLogo"
             th:src="@{/Images/Logo/ExamByteLogo.png}"
             src="../../static/Images/Logo/ExamByteLogo.png"
             alt="">
        ExamByte - Ergebnis
    </h1>
            <ul>
                <li class="list-group-item" > <span th:text="${ergebnisZeitpunkt}">Ergebnisveröffentlichung: 14.12.2024</span> </li>
                <!-- TODO -->
                <li class="list-group-item" > Ergebnis: In Bearbeitung<br> </li>
                <li class="list-group-item" > Punkte: In Bearbeitung </li>
                <li class="list-group-item" > Test bestanden? In Bearbeitung </li>
            </ul>

    </body>
</html>