<html lang="de">
    <head>
        <title> ExamByte </title>
        <link rel="icon" type="image/png" th:href="@{/Images/Logo/ExamByteLogoOhneUnterschrift.png}"
              href="../../static/Images/Logo/ExamByteLogoOhneUnterschrift.png">
        <link rel="stylesheet" href="../../static/css/ExambyteStylesheet.css"
              th:href="@{/css/ExambyteStylesheet.css}">
        <link rel = "stylesheet" th:href="@{/css/bootstrap.min.css}"
              href="../../static/css/bootstrap.min.css">
    </head>
    <body>
    <h1> ExamByte - Zulassungsstatus </h1>

    <p> Zulassung: 68% bestanden </p>
    <h2> Zu bearbeitende Tests: </h2>

            <ul> <!-- TODO: th:remove="all-but-first" -->
                <li class="list-group-item" th:each="test : ${tests}"
                    th:text="${test.titel()}">
                    <a th:href="@{/studenten/landingPage/zeigeTest/{id}(id=${test.id()})}">Test 1</a>
                </li>

                <li class="list-group-item"> <a href="/studenten/landingPage/zeigeTest/2">Test 2</a></li>
                <li class="list-group-item"> <a href="/studenten/landingPage/zeigeTest/3">Test 3</a></li>
            </ul>

        <form action="/studenten/landingPage/zeigeErgebnis" class="form-check">
            <button class="btn btn-dark" type="submit"> Ergebnis: </button>
        </form>

    </body>
</html>