body {
    font-family: "Century Gothic";
}

/* Überschriften */
h1 {
    background-color: lightsteelblue;
    padding: 10px;
    margin: 0px;
    font-family: "Century Gothic";
}

h2 {
    padding-top: 20px;
    margin-left: 25px;
    font-size: 18px;
    font-family: "Century Gothic";
    padding-bottom: 10px;
}

h3 {
    margin: 20px;
    padding-top: 15px;
    font-size: medium;
}


/* Formulare, Button, usw. */
form {
    margin: 20px;
}

.buttonAnmeldung {
    padding: 12px 22px;
    font-size: 17px;
    color: black;
    background-color: #e5e5fc;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 0px;
}

.divAnmeldung {
    position: absolute;
    top: 150px;
    left: 40px;
}

.list-group-item {
    margin-left: 12px;
    margin-right: 45px;
    background-color: rgba(176, 196, 222, 0.38) !important;
    margin-bottom: 5px;
}


/* Abschnitte */
div {
    margin-top: 10px;
}

p {
    margin: 20px;
}


/* Listen */
li {
    margin-right: 50px;
}



/* Zulassung */
.zulassungsstatus {
    margin-left: 30px;
}

.imgGuterKurs {
    height: 30px;
    width: 30px;
    margin-bottom: 5px;
    margin-left: 20px;
}

.imgVorsicht {
    height: 25px;
    width: 30px;
    margin-bottom: 5px;
    margin-left: 22px;
}

.imgFail {
    height: 25px;
    width: 25px;
    margin-bottom: 5px;
    margin-left: 25px;
}


.imgLogo {
    height: 70px;
    width: 85px;
}


/* Buttons */
.btnStudi {
    font-size: 16px;
    color: black;
    background-color: rgba(154, 155, 157, 0.42);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 2px;
    margin-top: 5px;
}

/* Test Bearbeitung*/
.aufgabenstellung {
    margin-top: 15px;
    margin-bottom: 8px;
}

.punktzahl {
    margin-left: 47px;
    margin-top: 5px;
}

.btnInput {
    margin-left: 40px;
}

.btnLabel {
    margin-left: 13px;
}

.btnBestaetigen {
    padding: 3px 6px;
    font-size: 16px;
    color: black;
    background-color: #ededf1;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 7px;
}

.btnBestaetigenMC {
    padding: 3px 6px;
    font-size: 16px;
    color: black;
    background-color: #ededf1;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 40px;
    margin-top: 10px;
}

.btnWeiterZurueck {
    padding: 5px 10px;
    font-size: 16px;
    color: black;
    background-color: lavender;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 22px;
    margin-botton: 20px;
}

.buttonContainer {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.entfernePunkt {
    list-style-type: none;
}

.navLink {
    position: absolute;
    top: 22px;
    right: 10px;
    color: #2c3034;
    padding: 10px;
    font-size: 16px;
}
.navLink-2 {
     position: absolute;
     top: 22px;
     right: 145px;
     color: #2c3034;
     padding: 10px;
     font-size: 16px;
 }
.navLink-Strich {
    position: absolute;
    top: 22px;
    right: 110px;
    color: #2c3034;
    padding: 10px;
    font-size: 16px;
}

.korrektorenLink {
    text-decoration: none;
}

.feedback {
    font-style: italic;
    color: #335d94;
    margin-left: 65px;
    margin-top: 5px;
    margin-bottom: 0px;
}

.antwort {
    font-style: italic;
    color: #404244;
    margin-left: 60px;
    margin-top: 15px;
    margin-bottom: 10px;
}

