name: Build and Test

on: [push, pull_request]

jobs:
  build: 
    runs-on: ubuntu-latest
    services:
      postgres:
        image: postgres:15
        ports:
          - 5435:5432
        env:
          POSTGRES_USER: user
          POSTGRES_PASSWORD: iamgroot
    steps:
      - uses: actions/checkout@v1
        name: Git Checkout
      - name: Grant execute permission for gradlew
        run: chmod +x gradlew
      - name: Java installieren
        uses: actions/setup-java@v1
        with:
          java-version: 17
      - name: Run Gradle
        run: ./gradlew test --exclude-task test --tests '!exambyte.service.studenten.TestFragenService'
