<!DOCTYPE html>
<html lang="de">
    <head>
        <title>ExamByte | Landing Page</title>
        <link rel = "stylesheet" th:href="@{/css/bootstrap.min.css}"
              href="../../static/css/bootstrap.min.css">
        <link rel="icon" type="image/png"
              href="../../static/Images/Logo/ExamByteLogoOhneUnterschrift.png"
              th:href="@{/Images/Logo/ExamByteLogoOhneUnterschrift.png}">
        <link rel="stylesheet" href="../../static/css/ExambyteStylesheet.css"
              th:href="@{/css/ExambyteStylesheet.css}">
        <meta charset="UTF-8">

    </head>
    <body>
    <h1>
        <a class="navLink" th:href="@{/}">Zur Anmeldung</a>
        <img class="imgLogo"
             th:src="@{/Images/Logo/ExamByteLogo.png}"
             src="../../static/Images/Logo/ExamByteLogo.png"
             alt="">
        ExamByte
    </h1>


        <h2>Übersicht</h2>
            <form action="/organisatoren/korrekturstand">
                <button class="btnBestaetigen" type="submit">Korrekturstand</button>
            </form>


            <form action="/studenten/landingPage/zeigeErgebnis">
                <button class="btnBestaetigen" type="submit">Ergebnisübersicht</button>
            </form>

        <!--TODO: th:each Schleife benutzen und alle gespeicherten Tests anzeigen lassen-->

        <ul th:remove="all-but-first" class="list-group list-group-flush">
            <li th:each="testForm: ${testForms}" class="list-group-item">
                <a href=""><span th:value="${testForm.testTitel}">Fragen zur Onion Architektur</span></a>
            </li>
            <li class="list-group-item">
                <a href="">MaFIn3 Übung für Blatt 09</a>
            </li>
        </ul>



        <form action="/organisatoren/testErstellen">
            <button class="btnBestaetigen" type="submit">+ Test erstellen</button>
        </form>
    </body>
</html>