<!DOCTYPE html>
<html lang="de">
<head>
    <title>ExamByte | Vorschau</title>
    <link rel="icon" type="image/png"
          href="../../static/Images/Logo/ExamByteLogoOhneUnterschrift.png"
          th:href="@{/Images/Logo/ExamByteLogoOhneUnterschrift.png}">
    <link rel = "stylesheet" th:href="@{/css/bootstrap.min.css}"
          href="../../static/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../static/css/ExambyteStylesheet.css"
          th:href="@{/css/ExambyteStylesheet.css}">
    <link rel="stylesheet" href="../../static/css/TestErstellenStyleSheet.css"
          th:href="@{/css/TestErstellenStyleSheet.css}">
    <meta charset="UTF-8">
</head>
<body>
    <h1>
        <a class="navLink" th:href="@{/}">Zur Anmeldung</a>
        <a class="navLink-2" th:href="@{/organisatoren/landingPage}">Zur Landing Page</a>
        <img class="imgLogo"
             th:src="@{/Images/Logo/ExamByteLogo.png}"
             src="../../static/Images/Logo/ExamByteLogo.png"
             alt="">
        ExamByte - Test Vorschau
    </h1>

    <input type="hidden" name="id" th:value="${id}">

    <label class="test-titel" for="testFormTitel">Test Titel:</label>
    <input class="test-titel-textfeld" type="text" id="testFormTitel" name="testTitel" th:value="${testForm.titel}" disabled>
    <br>

    <form class="form-check" method="post" th:action="@{/organisatoren/testVorschau/saveTestFristen/{id}(id = ${id})}">
        <label class="test-titel" for="startID">Startzeitpunkt:</label>
        <input class="test-titel-textfeld" type="datetime-local" id="startID" name="startzeitpunkt" th:value="${testForm.startzeitpunkt}">
        <label class="test-titel" for="endID">Endzeitpunkt:</label>
        <input class="test-titel-textfeld" type="datetime-local" id="endID" name="endzeitpunkt" th:value="${testForm.endzeitpunkt}">
        <label class="test-titel" for="ergebnisID">Ergebniszeitpunkt:</label>
        <input class="test-titel-textfeld" type="datetime-local" id="ergebnisID" name="ergebniszeitpunkt" th:value="${testForm.ergebniszeitpunkt}">
        <button type="submit">Speichern</button>
    </form>


    <ul th:remove="all-but-first">
        <li th:each="testFrage: ${testForm.getTestFragen()}" class="list-group-item">
                <span th:if="${testFrage.istMcFrage()}">
                    <p class="fragen-überschrift">Multiple-Choice Frage</p>
                    <!--TODO: zugehörige ID zur URL hinzufügen-->
                    <form method="post" th:action="@{/organisatoren/testErstellen/updateMCFrage/{id}/{frageID}(id=${id}, frageID=${testFrage.id})}">
                        <input type="hidden" name="testfragenId" th:value="${testFrage.id}">
                        <label for="titelMCID"> Titel: </label>
                        <input class="textfeld" type="text" id="titelMCID" name="titel" th:value="${testFrage.titel}" disabled>
                        <br>
                        <label for="multipleChoiceFrageID">Multiple-Choice Fragestellung:</label>
                        <input class="textfeld" type="text" id="multipleChoiceFrageID" name="fragestellung" th:value="${testFrage.fragestellung}" disabled>
                        <br>
                        <ul th:remove="all-but-first">
                            <li th:each="mcAntwort: ${testFrage.getAntworten()}">
                                <input type="checkbox" name="antworten" th:checked="${mcAntwort.getAntwort()}" disabled>
                                <label for="antwortMoeglichkeitID">Antwort Möglichkeit:</label>
                                <input class="textfeld" type="text" id="antwortMoeglichkeitID" name="antworten" th:value="${mcAntwort.getName()}" disabled>
                            </li>
                        </ul>
                        <br>
                        <label for="punktzahlMcFrageID"> Punktzahl: </label>
                        <input class="textfeld" type="number" id="punktzahlMcFrageID" name="punkte" th:value="${testFrage.punkte}" disabled>
                        <br>
                        <label for="erklaerungMCFrageID"> Erklärung: </label>
                        <textarea class="lösung-textfeld" id="erklaerungMCFrageID" name="erklaerung" th:text="${testFrage.erklaerung}" disabled></textarea>
                    </form>
                </span>

            <span th:unless="${testFrage.istMcFrage()}">
                    <p class="fragen-überschrift">Freitext Frage</p>

                    <form method="post" th:action="@{/organisatoren/testErstellen/updateFreitextFrage/{id}/{frageID}(id=${id}, frageID=${testFrage.id})}">
                        <input type="hidden" name="testfragenId" th:value="${testFrage.id}">
                        <label for="titelFreitextID"> Titel: </label>
                        <input class="textfeld" type="text" id="titelFreitextID" name="titel" th:value="${testFrage.titel}" disabled>
                        <br>
                        <label for="freitextFragestellungID"> Frage: </label>
                        <input class="textfeld" type="text" id="freitextFragestellungID" name="fragestellung" th:value="${testFrage.fragestellung}" disabled>
                        <br>
                        <label for="punktzahlFreitextID"> Punktzahl: </label>
                        <input class="textfeld" type="number" name="punkte" id="punktzahlFreitextID" th:value="${testFrage.punkte}" disabled>
                        <br>
                        <label for="loesungID"> Mögliche Lösung: </label>
                        <textarea class="lösung-textfeld" id="loesungID" name="erklaerung" th:text="${testFrage.erklaerung}" disabled></textarea>
                    </form>
                </span>
        </li>
    </ul>
</body>
</html>