<!DOCTYPE html>
<html lang="de">
    <head>
        <title>ExamByte | Test Erstellen</title>
        <link rel="icon" type="image/png"
              href="../../static/Images/Logo/ExamByteLogoOhneUnterschrift.png"
              th:href="@{/Images/Logo/ExamByteLogoOhneUnterschrift.png}">
        <link rel = "stylesheet" th:href="@{/css/bootstrap.min.css}"
              href="../../static/css/bootstrap.min.css">
        <link rel="stylesheet" href="../../static/css/ExambyteStylesheet.css"
              th:href="@{/css/ExambyteStylesheet.css}">
        <link rel="stylesheet" href="../../static/css/TestErstellenStyleSheet.css"
              th:href="@{/css/TestErstellenStyleSheet.css}">
        <meta charset="UTF-8">
    </head>
    <body>
        <h1>
            <a class="navLink" th:href="@{/}">Zur Anmeldung</a>
            <a class="navLink-2" th:href="@{/organisatoren/landingPage}">Zur Landing Page</a>
            <img class="imgLogo"
                    th:src="@{/Images/Logo/ExamByteLogo.png}"
                 src="../../static/Images/Logo/ExamByteLogo.png"
                 alt="">
            ExamByte - Test Erstellen
        </h1>

        <input type="hidden" th:value="${id}">

        <label class="test-titel" for="testFormTitel">Test Titel:</label>
        <input class="test-titel-textfeld" type="text" id="testFormTitel" name="testTitel" th:value="${testForm.testTitel}">

        <form th:action="@{/organisatoren/testErstellen/addMcFrage/{id}(id=${id})}" method="post">
            <button class="btn-dark" type="submit" id="mcFrageButton">+ Multiple-Choice Frage hinzufügen</button>
        </form>

        <form th:action="@{/organisatoren/testErstellen/addFreitextFrage/{id}(id=${id})}" method="post">
            <button class="btn-dark" type="submit" id="freitextFrage"> + Freitext Frage hinzufügen</button>
        </form>

        <ul th:remove="all-but-first">
            <li th:each="testFrage: ${testForm.getTestFragen()}" class="list-group-item">
                <span th:if="${testFrage.istMcFrage()}">
                    <p class="fragen-überschrift">Multiple-Choice Frage</p>
                    <!--TODO: zugehörige ID zur URL hinzufügen-->
                    <form method="post" th:action="@{/organisatoren/testErstellen/updateMCFrage/{id}/{frageID}(id=${id}, frageID=${testFrage.id})}">
                        <input type="hidden" name="testfragenId" th:value="${testFrage.id}">
                        <label for="titelMCID"> Titel: </label>
                        <input class="textfeld" type="text" id="titelMCID" name="titel" th:value="${testFrage.titel}">
                        <br>
                        <label for="multipleChoiceFrageID">Multiple-Choice Fragestellung:</label>
                        <input class="textfeld" type="text" id="multipleChoiceFrageID" name="fragestellung" th:value="${testFrage.fragestellung}">
                        <br>
                        <button class="button-abstand" type="submit" id="antwortHinzufügenMC">+ Antwort hinzufügen</button>
                        <br>
                        <label for="punktzahlMcFrageID"> Punktzahl: </label>
                        <input class="textfeld" type="number" id="punktzahlMcFrageID" name="punkte" th:value="${testFrage.punkte}">
                        <br>
                        <label for="erklaerungMCFrageID"> Erklärung: </label>
                        <textarea class="lösung-textfeld" id="erklaerungMCFrageID" name="erklaerung" th:text="${testFrage.erklaerung}"></textarea>
                        <br>
                        <button type="submit">Testfrage speichern</button>
                    </form>
                </span>

                <span th:unless="${testFrage.istMcFrage()}">
                    <p class="fragen-überschrift">Freitext Frage</p>

                    <form method="post" th:action="@{/organisatoren/testErstellen/updateFreitextFrage/{id}/{frageID}(id=${id}, frageID=${testFrage.id})}">
                        <input type="hidden" name="testfragenId" th:value="${testFrage.id}">
                        <label for="titelFreitextID"> Titel: </label>
                        <input class="textfeld" type="text" id="titelFreitextID" name="titel" th:value="${testFrage.titel}">
                        <br>
                        <label for="freitextFragestellungID"> Frage: </label>
                        <input class="textfeld" type="text" id="freitextFragestellungID" name="fragestellung" th:value="${testFrage.fragestellung}">
                        <br>
                        <label for="punktzahlFreitextID"> Punktzahl: </label>
                        <input class="textfeld" type="number" name="punkte" id="punktzahlFreitextID" th:value="${testFrage.punkte}">
                        <br>
                        <label for="loesungID"> Mögliche Lösung: </label>
                        <textarea class="lösung-textfeld" id="loesungID" name="erklaerung" th:text="${testFrage.erklaerung}"></textarea>
                        <br>
                        <button type="submit">Testfrage speichern</button>
                    </form>
                </span>
            </li>
        </ul>

    <form method="get" th:action="@{/organisatoren/landingPage/testFertigstellen/{id}(id=${id})}">
        <button type="submit">Test fertigstellen</button>
    </form>
    </body>
</html>