<!DOCTYPE html>
<html lang="de">
<head>
    <title>ExamByte | Korrekturstand</title>
    <link rel="stylesheet" href="../../static/css/organisatoren_page.css"
          th:href="@{/css/organisatoren_page.css}">
    <link rel="icon" type="image/png"
          href="../../static/Images/Logo/ExamByteLogoOhneUnterschrift.png"
          th:href="@{/Images/Logo/ExamByteLogoOhneUnterschrift.png}">
    <meta charset="UTF-8">
</head>
<body>
<header class="header-section">
    <div>
        <div class="orga-links">
            <a class="orga-link" th:href="@{/}">Zur Anmeldung</a>
            <a class="orga-link" th:href="@{/organisatoren/landingPage}">Zur Landing Page</a>
        </div>
        <h1> ExamByte - Ergebnisübersicht </h1>
    </div>
    <img class="imgLogo"
         th:src="@{/Images/Logo/ExamByteLogo.png}"
         src="../../static/Images/Logo/ExamByteLogo.png"
         alt="ExamByte">
</header>
<main class="main-section">
    <ul class="no-dots-list" th:each="aufgabe: ${testAufgaben}">
        <li class="test-list-item-yellow"> <span th:text="${aufgabe.getValue()}">Programmierpraktikum 2: 80,56% korrekt</span>
            <form>
                <button class="orga-button" type="submit"> Zeige Studi-Ergebnisse</button>
            </form>
        </li>
    </ul>
</main>
</body>
</html>